@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
body {
  font-family: "Sora", serif;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  height: 100%;
  
}
